<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.441352721007-171ivlvjdim7kuisrli35h9oujmj9s02</string>
			</array>
		</dict>
	</array>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Allow the app to control SmartShow via Bluetooth</string>
	<key>GIDClientID</key>
	<string>441352721007-171ivlvjdim7kuisrli35h9oujmj9s02.apps.googleusercontent.com</string>
</dict>
</plist>
